<nav class="bg-gray-700">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <!-- Logo -->
        <div class="flex shrink-0 items-center">
          <img
            class="h-8 w-auto"
            src=""
            alt="Your Company"
          />
        </div>
  
        <!-- Desktop Menu -->
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="#" class="rounded-md bg-gray-800 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-600 hover:text-white">Transactions</a>
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-600 hover:text-white">Reports</a>
            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-600 hover:text-white">Settings</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  