<nav class="bg-gray-700">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <!-- Logo -->
            <div class="flex justify-between items-center shrink-0 items-center">
                <i class="fa-solid fa-wallet text-xl text-white p-2"></i>
                <p class="text-xl font-bold text-white">Budget Tracker</p>
            </div>
            <!-- Desktop Menu -->
            <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    <a *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="bg-gray-800"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="rounded-md px-3 py-2 text-sm font-medium text-white"
                        [ngClass]="!isActive(link.path) ? 'hover:bg-gray-600 hover:text-white' : ''">
                        {{ link.label }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>