<nav class="bg-gray-700 fixed bottom-0 inset-x-0 sm:hidden">
    <div class="flex justify-around items-center p-4 space-x-4">
        @for (link of links; track $index) {
        <a [routerLink]="link.path" routerLinkActive="bg-gray-800" [routerLinkActiveOptions]="{ exact: true }"
            class="flex flex-col items-center text-white px-4 py-2 rounded-md text-center"
            [ngClass]="!isActive(link.path) ? 'hover:bg-gray-700 hover:text-white' : ''">
            <i [class]="link.icon + ' pb-2'"></i>
            <span class="text-xs">{{ link.label }}</span>
        </a>
        }
    </div>
</nav>